.itemcount{
    width: 160px;
}
.itemcount .controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls button{
    background-color: rgb(19, 19, 19);
    border: none;
    color: lightcoral;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid lightcoral;
    font-size: 30px;
}
.controls button:hover{
    cursor: pointer;
}
.itemcount .add{
    background-color: rgb(19, 19, 19);
    border: none;
    color: lightcoral;
    width: 100%;
    border-radius: 5px;
    border: 2px solid lightcoral;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
}
.itemcount .add:hover{
    cursor: pointer;
}